@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: lato, Arial, sans-serif;
    font-weight: 300;
    color: brown;
}


/* logo */

h1, h2 {
    font-family: Oswald, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: brown;
}

.logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}
/* Navigation links */
.menu {
    font-size: 120%;
    letter-spacing: 6px;
}

/* Navigation links height is set below */

.menu, .logo {
    line-height: 70px;
}
.menu li {
    float:right;
    list-style-type: none;
    margin-right: 30px;
}

/* Navigation links text decoration inheriting the body color*/
.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid brown;
}

.active {
    border-bottom: 1px solid brown;
}

/* reduce the image below the logo with overflow hiden*/
.image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* background image*/

#playground {
    height: 600px;
    width: 100%;
    background: url(../images/playground.jpg) no-repeat center center;
}

#fun-image {
    height: 600px;
}

#left-image {
    padding-top: 30px;
    width: 60%;
    float: left;
}

#right-image {
    padding-top: 30px;
    width: 40%;
    float: right;
}
hr {
    border-top: 1px solid brown;
    width: 100%;
    margin: 2px 0;
}

.advert {
    width: 60%;
    float: right;
    line-height: 40px;
    clear: both;
    line-height: 40px;
}

.left-image-style {
    background: url(../images/playground2.jpg) no-repeat center center;
    height: 400px;
}

.right-image-style {
    background: url(../images/playground1.avif) no-repeat center center;
    height: 400px;
}


footer {
    height: 150px;
}

.social-sites {
    text-align: center;
}

.social-sites >li {
    display: inline;
}